<meta name="google-site-verification" content="3JM_wScDomm39FRVXyE3atMVHsnAz5tPgz7pOthBXUc" />
<meta name="naver-site-verification" content="1ef5ab229cdaa195f9f27c4861bf14c5186d523e" />
<meta name="google-adsense-account" content="ca-pub-7621796704190558">

<link rel="shortcut icon" href="{{ '/assets/img/icons/favicon1.ico'      | relative_url }}" />
<link rel="icon" href="{{ '/assets/img/icons/favicon1.ico'      | relative_url }}" />
<link rel="shortcut icon" type="image/png" href="/assets/img/icons/favicon1.png" />
<link href="/assets/css/syntax.css" rel="stylesheet" />
<!-- tipuesearch -->
<link rel="stylesheet" href="/assets/tipuesearch/css/tipuesearch.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/tipuesearch/tipuesearch_content.js"></script>
<script src="/assets/tipuesearch/tipuesearch_set.js"></script>
<script src="/assets/tipuesearch/tipuesearch.min.js"></script>

<script>
    (function (j, ennifer) {
        j['dmndata'] = []; j['jenniferFront'] = function (args) { window.dmndata.push(args) };
        j['dmnaid'] = ennifer; j['dmnatime'] = new Date(); j['dmnanocookie'] = false; j['dmnajennifer'] = 'JENNIFER_FRONT@INTG';
    }(window, 'c216a57'));
</script>
<script async src="https://d-collect.jennifersoft.com/c216a57/demian.js"></script>